@charset "UTF-8";
/* CSS Document created by Christy Chatmon, Edited by Justin Adams, Spring 2019*/

body {
	font-family: Geneva, Arial, Helvetica, Times;
	font-size: 14px;
	line-height: 1.4em;
	color: #ff2e63;
	background-color: #252a34;
	padding: 0 40px;
}

/* basic text styles ----------------------------  */
p, li, td {
	letter-spacing: 0.1em;
	color: #08d9d6;
}
h1 {
	font-size: 20px;
	padding: 3px 0;
	font-variant: small-caps;
	letter-spacing: .5em;
	line-height: 2.2em;
}
h2 {
	font-size: 20px;
	padding: 6px;
	font-variant: small-caps;
	letter-spacing: 0.5em;
	background-color: #eaeaea;
}
h3 {
	font-size: 17px;
	letter-spacing: 0.5em;
	border-bottom-color: #eaeaea;
	padding: 4px 0;
	font-variant: small-caps;

}

/* link styles ---------------------------- */
a:link {
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
a:visited {
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
a:hover {
	color: #C0C0C0;
}

/* list styles ----------------------------- */
ul li {
	list-style-image: url(images/star.png);
	margin-left: 12px;
}
ol {
	margin-left: 14px;
}

/* table styles -------------------------------------- */
table {
	border: solid #999933 1px;
}
td {
	padding: 6px;
	border: solid #999933 1px;
}
th {
	font-weight: bold;
	background-color: #eaeaea;
	text-align: center;
	padding: 6px;
	border: solid #4E006F 1px;
}

/* border styles ------------------------------------ */
hr {
	border: solid #999933 1px;
}

img {
	border: solid #999933 1px;

}

iframe {
	border: solid #999933 1px;
	padding: 8px;
	margin: 8px;
}